**/.idea/
!**/.idea/codeStyles/codeStyleConfig.xml
!**/.idea/codeStyles/Project.xml
.editorconfig
*.ipr
*.iml

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties
configs/
system.env
/files/
/configs/
